
body {
    background-color: rgb(204, 217, 248);
}

h1 {
    text-align: center;
    }

h3 {
    border-left: 6px ridge rgb(172, 241, 213);;
}

article {
    margin-left: 200px;
}

footer {
    font-style: italic;
    text: 10px;
}

.photos {
    border: 2px solid rgb(37, 36, 36);
    border-radius: 8px;
    padding; 50%;
}

#intro {
   text-align: center;
}



